* {
  padding: 0px;
  margin: 0px;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif, Arial;
  background-color: #dadadb;
}
#main {
  width: 700px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background-color: #fff;
}
#title {
  padding-bottom: 40px;
  font-size: 30px;
}
#number {
  width: 350px;
  height: 160px;
  border: solid 2px;
  border-radius: 12px;
  border-color: #dadadb;
}
#number {
  text-align: center;
  font-size: 40px;
  color: black;
}
#buttons {
  padding-top: 40px;
}
#buttons button {
  width: 120px;
  height: 50px;
  margin-left: 50px;
  margin-right: 50px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  background-color: #bed2ff;
}
#buttons button:hover {
  background-color: #aac1f5;
}
#buttons button:active {
  background-color: #97b1ee;
}
#copyright {
  padding-top: 100px;
  color: black;
}
@media only screen and (max-width: 600px) {
  #main {
    width: 90%;
  }
  #title {
    font-size: 25px;
  }
  #number {
    width: 80%;
    height: auto;
    font-size: 30px;
  }
  #buttons {
    display: flex;
  }
  #buttons button {
    width: 100px;
    margin: 10px 0;
    margin-left: 20px;
    margin-right: 30px;
  }

  #copyright {
    padding-top: 20px;
  }
}
@media screen and (max-width: 360px), (max-width: 375px) {
  #copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
    padding-top: 40px;
  }
  .text-copy {
    margin-right: 5px;
    white-space: nowrap;
  }
  #year {
    margin-bottom: 0;
  }
  #copy {
    padding-top: 15px;
  }
}
@media screen and (max-width: 280px) {
  #title {
    font-size: 20px;
  }
  #number {
    font-size: 22px;
  }
  #buttons button {
    width: 70px;
    margin: 10px 0;
    margin-left: 20px;
    margin-right: 30px;
    font-size: 12px;
  }
  #copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
    padding-top: 40px;
  }
  .text-copy {
    margin-right: 5px;
    white-space: nowrap;
    font-size: 12px;
  }
  #year {
    margin-bottom: 0;
    font-size: 12px;
  }
  #copy {
    padding-top: 15px;
  }
}
